*{
    font-style: Montserrat, sans-serif ; 
}

#logincol{
    background-image: linear-gradient(rgba(210, 5, 5, 0.8), rgba(210, 5, 5, 0.8)), url("../img/balonlogo.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#img_login{
    width: 380px;
    height: 80px;  
}
#img_nav{
    height: 50px; 
}
.nav-item:hover .nav-link {
    background-color: white;
    color: #dc3545 !important;
    border-radius: 10px; 
}

#contenedor {
    margin-top: 80px;
    margin-bottom:200px;
    
}
